/* GLOBAL STYLES */
body {
  font-family: helvetica, arial, sans;
}
h1 {
  font-size: 7vw;
  margin-top: 0;
}
a {
  color: #00f;
}
a:hover, 
a:active {
  color: #bf9bff;
}
/* HEADER STYLES */
.header-nav {
  float: right;
  padding: 5.5vh 60px 0 0;
}
.header-nav > li {
  display: inline-block;
  margin-left: 1em;
}
/* applies to every header li after the 1st one */
.header-nav > li ~ li {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  padding-left: 1em;
}
.header-nav a {
  color: #000;
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: upppercase;
}

.header-nav a:hover,
.header-nav a:active {
  color: #db3f3f;
}
.header-logo:hover,
.header-logo:active {
  opacity: 0.5;
}
.header-nav > li:first-child a {
  color: #ed6e2f;
}
.header-nav > li:first-child a:hover {
  color: #3dad2e;
}

/* HERO STYLES */
.full-hero {
  background-color: #c7dbfc;  
  height:   50vh;
}

/* SOCIAL STYLES */
.social-link {
  background: rgba(150, 150, 150, 0.5);
  border-radius:  99px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-family: helvetica, areal, sans;
  font-size: 1rem;
  font-weight: bold;
  height: 2.5em;
  line-height: 1;
  padding-top: 0.85em;
  text-alighn: center;
  text-decoration: none;
  vertical-align: middle;
  width: 2.5em;
}
.social-link:hover,
.social-link:active {
  background: #ed6e2f;
  opacity: 0.6;
}
.social-list {
  list-style: none;
  padding: 0;
  text-align: center;
}
.social-list > li {
  display: inline-block;
  margin: 0 0.5em;
}

/* TEXT STYLES */

h2 + p {
  font-size: 0.8em;
  font-style: italic;
  margin: 1em auto 0;
  max-width: 70%;
  text-align: center;
}

/* IMAGE STYLES */
.image-home {
  border: brown solid 10px;
  border-radius: 10px;
  box-sizing:   border-box;
  margin: 2em auto;
  overflow: hidden;
  width:  300px;
}
.image-home img {
  height: auto;
  width: 100%;
}
.image-home p {
    text-align: left;
}
